@{
    ViewData["Title"] = "Rules";
}

<div class="text-center">
    <h1 class="display-4" style="margin-top: 65px">Rules</h1>
</div>
<ul class="lead">
    <li>On the user's turn, they will have the option of rolling the dice or holding. If they hold, the
        points from that turn will be added to their total. If they roll again and either die is a 1, they will
        lose all of the points for that turn.</li>
    <li>On the computer's turn, they will roll just once. If they don't roll a 1, there points will be
        added and the user will roll again.</li>
    <li>The game will continue until one of the players reaches 20.</li>
</ul>
