@{
    ViewData["Title"] = "Game";
}

<div class="text-center">
    <h1 class="display-4">The Game of Pig</h1>
</div>
<div class="col-sm-10">
    <a asp-action="NewGame" class="btn btn-primary">Start New Game</a>
</div>
    
