@{
    string controller = ViewContext.RouteData.Values["controller"].ToString();
    string action = ViewContext.RouteData.Values["action"].ToString();
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Williams Game Of Pig</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
<header>
    <nav class="navbar navbar-expand-md navbar-dark bg-primary fixed-top pb-1">
        <a class="navbar-brand" href="/">Williams Game of Pig</a>
        <button class="navbar-toggler" type="button"
                data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <nav class="collapse navbar-collapse" id="navbarSupportedContent">
            <div class="navbar-nav mr-auto">
                <a class="nav-link @(controller == "Game" && action == "Index" ? "active" : "")"
                   asp-controller="Game" asp-action="Index">Game</a>
                <a class="nav-link @(controller == "Rules" ? "active" : "")"
                   asp-controller="Rules" asp-action="Index">Rules</a>
            </div>
        </nav>
    </nav>
</header>
    <div class="container">
        <main role="main" class="mt-5">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - Williams Game Of Pig
        </div>
    </footer>
</body>
</html>
